body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}

.number{
    border: 1px solid steelblue;
    border-radius: 10px;
}

.number:hover{
    background-color: lightblue;
}

.operator{
    border: 1px solid goldenrod;
    border-radius: 10px;
}

.operator:hover{
    background-color: bisque;
}

.decimal{
    border: 1px solid gray;
    border-radius: 10px;
}

.decimal:hover{
    background-color: silver;
}

.equal{
    border: 1px solid plum;
    border-radius: 10px;
}

.equal:hover{
    background-color: lightpink;
}

#clear-btn{
    border: 1px solid salmon;
    border-radius: 10px;
}

#clear-btn:hover{
    background-color: salmon;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 300px;
    border: 1px solid cornflowerblue;
    height: 75px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}